<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/AddSchedule.css') }}"/>
  <title>予定追加</title>
</head>

<body>
  <!-- フォーム -->
  <div class="form-container">
    <h2>予定追加</h2>
    <hr size="5" noshade color="black" />

    <form enctype="multipart/form-data" action="/add/to" method="post">
      <!-- 日程入力フォーム -->
      <label for="date">日程</label>
      <input type="date" id="date" name="date" required>

      <!-- 予定入力フォーム -->
      <label for="schedule">予定</label>
      <input type="text" id="schedule" name="schedule" required>

      <!-- 送信ボタン -->
      <input type="submit" class="btn btn--add" value="追加">
    </form>
  </div>

  <!-- ボタンコンテナ -->
  <div class="button-container">
    <a href="/" class="btn btn--add">戻る</a>
    <a href="/list" class="btn btn--back">一覧</a>
    <a href="/study" class="btn btn--study">勉強</a>
  </div>

  <!-- JavaScriptファイルの読み込み -->
  <script src="{{ url_for('static', filename='javascript/AddSchedule.js') }}"></script>

  <!-- 余白 -->
  <p>&nbsp;</p>
</body>

</html>
