<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/AddSchedule.css') }}">
</head>

<body>
  <!-- タイトルおよびフォーム -->
  <h2 style="text-align: center;">&emsp;予定追加</h2>
  <hr size="5" noshade color="black" />

  <!-- フォーム -->
  <div class="center-form">
    <font size="6" style="text-align: left;">
      <form enctype="multipart/form-data" action="/add/to" method="post">
        <!-- 日程入力フォーム -->
        <div class="center-input">
          <label for="year">日程: </label>
          <input type="date" id="date" name="date">
        </div>

        <!-- 予定入力フォーム -->
        <div class="center-input">
          <label for="your_name">予定: </label>
          <input type="text" id="schedule" name="schedule">
        </div>

        <!-- 送信ボタン -->
        <button type="submit">追加</button>
      </form>
    </font>
  </div>

  <!-- JavaScriptファイルの読み込み -->
  <script src="{{ url_for('static', filename='javascript/AddSchedule.js') }}"></script>

  <!-- 余白 -->
  <p>&nbsp;</p>
</body>

</html>
