<!DOCTYPE html>
<html lang='ja'>
  <head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
  </head>

  <body>
    <script src="{{ url_for('static', filename='javascript/index.js') }}"></script>
    <div class="calendar_area">
      <div class="calendar_header">
        <p id="year_month_label"></p>
        <button id="prev_year_btn" onClick="prev_year()"><i class="fas fa-angle-double-left"></i></button>
        <button id="prev_month_btn" onClick="prev_month()"><i class="fas fa-angle-left"></i></button>
        <button id="now_btn" onClick="now_month()"><i class="fas fa-circle"></i></button>
        <button id="next_month_btn" onClick="next_month()"><i class="fas fa-angle-right"></i></button>
        <button id="next_year_btn" onClick="next_year()"><i class="fas fa-angle-double-right"></i></button>
      </div>
      <div id="calendar_body" onclick="handleCellClick(event)"></div>
      <div class="button-container">
        <a href="/add" class="btn btn--orange">追加</a>
        <a href="/list" class="btn btn--orange">一覧</a>
        <a href="/study" class="btn btn--orange">勉強</a>
      </div>
    </div>
    <script src="{{ url_for('static', filename='javascript/schedule_detail.js') }}"></script>
    <div id="calendar_body"></div>
    <div class="button-container">
      <a href="/add" class="btn btn--orange">変更</a>
      <a href="/list" class="btn btn--orange">一覧</a>
      <a href="/study" class="btn btn--orange">勉強</a>
    </div>
    <div id="today_schedule_label">＜今日の予定＞</div>
  </div>
 </body>
</html>
