<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list.css') }}"/>
  
    <title>Schedule Viewer</title>
  </head>

  <body>
    <script src="{{ url_for('static', filename='javascript/list.js') }}"></script>
    
    <div class="schedule-container" id="scheduleContainer">
      {% for item in schedule_data %}
        <div class="schedule-item">
          <strong>Date:</strong> {{ item.date }}<br>
          <strong>Time:</strong> {{ item.time }}<br>
          <strong>Schedule:</strong> {{ item.schedule }}
        </div>
      {% endfor %}
    </div>

    <div class="button-container">
        <a href="/add" class="btn btn--orange">変更</a>
        <a href="/" class="btn btn--orange">戻る</a>
        <a href="/study" class="btn btn--orange">勉強</a>
    </div>
  </body>
</html>
